/***********************************
COLORS:
rgba(26, 255, 187, 1);
rgba(0, 127, 79, 1);
rgba(0, 255, 158, 1);
rgba(38, 127, 94, 1);
rgba(0, 204, 126, 1);
***********************************/
body {
  font-size: 1em;
  font-family: Tahoma, Helvetica, sans-serif;
  letter-spacing: .05em;
}
h1 {
  font-size: 300%;
  font-weight: bolder;
}
header h1 a:hover {
  text-decoration: none;
}
h2 {
  font-size: 250%;
  letter-spacing: .1em;
  margin: 10px 0 0 45px;
  clear: left;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
  margin: 10px 0 0 45px;
}
h6 {
  font-size: 110%;
}
section p {
  margin: 15px 45px 15px 45px;
  line-height: 1.25em;
  letter-spacing: .05em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section p a {
  color: #000;
  text-decoration: underline;
}
section p a:hover {
  color: rgba(0, 204, 126, 1);
}
aside {
  width: 22%;
  margin: 40px 0 0 0;
  float: right;
}
aside p {
  margin: 0 40px 0 0;
  line-height: 1.3em;
  padding-left: 12px;
  padding-bottom: 8px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
aside a {
  text-decoration: underline;
}
section form {
  width: 40%;
  margin: 20px auto 40px auto;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 204, 126, 1);
  border-radius: 15px;
}
section form button {
  margin: 0 15px;
}
section form p {
  margin: 15px;
  line-height: 1.25em;
  letter-spacing: .05em;
}
section form h5 {
  margin: 15px;
  line-height: 1.25em;
  letter-spacing: .05em;
}
strong {
  font-weight: bolder;
}
footer {
  clear: both;
  background-color: rgba(0, 204, 126, .3);
}
footer p {
  padding: 10px 0;
  text-align: center;
  font-size: 30%;
}
.emphasis {
  font-size: 120%;
  padding: 20px 0;
}
.note {
  font-size: 60%;
}