/***********************************
COLORS:
rgba(26, 255, 187, 1);
rgba(0, 127, 79, 1);
rgba(0, 255, 158, 1);
rgba(38, 127, 94, 1);
rgba(0, 204, 126, 1);
***********************************/
body {
  font-size: 1em;
  font-family: Tahoma, Helvetica, sans-serif;
  letter-spacing: .05em;
}
h1 {
  font-size: 300%;
  font-weight: bolder;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 110%;
}
p {
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: bolder;
}
footer {
  clear: both;
  background-color: rgba(0, 204, 126, .3);
}
footer p {
  padding: 10px 0;
  text-align: center;
  font-size: 30%;
}
p.emphasis {
  font-size: 120%;
  padding: 20px 0;
}