h2 {
  letter-spacing: .1em;
  margin: 20px 0 0 45px;
  clear: left;
}
h3 {
  margin: 15px;
}
#category-list {
  margin: 40px 0 40px 45px;
  float: left;
  width: 71%;
}
div.category {
  float: left;
  margin: 0 30px 30px 0;
  height: 200px;
  width: 80%;
  border-radius: 15px;
  border: 1px solid #ddd;
  position: relative;
}
div.category img {
  border-radius: 15px;
  width: 60%;
  margin-left: 40%;
}
div.category a {
  position: relative;
  color: #fff;
}
#media-list {
  list-style-type: disc;
  margin: 5px 5px 5px 15px;
  padding: 5px 20px;
}
#media-list li {
  margin: 5px 0;
  font-weight: lighter;
}
div.shadowbox {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 40%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(0, 0, 0, .7);
  color: #efefef;
  letter-spacing: .1em;
}