header {
  height: 40px;
  padding: 10px;
  border-bottom: 4px solid rgba(0, 204, 126, .3);
  margin-bottom: 8px;
}
header p, header h1, #browse, #login {
  display: inline;
  float: left;
}
header h1 {
  font-size: 250%;
  letter-spacing: .1em;
  margin-left: 20px;
}
#search {
  width: 170px;
  float: left;
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}
#search input {
  background-color: #efefef;
}
#search button {
  background-color: #efefef;
  border: 1px solid #aaa;
  border-radius: 4px;
}
#browse, #login {
  font-size: 100%;
  margin-top: 4px;
  height: 33px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 8px;
  cursor: pointer;
}
#browse {
  width: 95px;
  text-align: left;
  background-image: url(../images/dropdown.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 10px;
}
#register, #cart {
  margin-top: 12px;
  margin-left: 10px;
}
#search, #login, #cart {
  margin-left: 4%; /*Good until window is 960px wide*/
}